/* .navbar {
 display: flex;
 justify-content: space-between;
 align-items: center;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 background-color: white;
 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 z-index: 1;
}

.navbar ul {
 display: flex;
 list-style: none;
 margin: 0;
 padding: 0;
}

.navbar li {
 margin: 0 10px;
}

.navbar a {
 color: black;
 text-decoration: none;
 font-weight: bold;
}

.navbar a:hover {
 color: gray;
} */
